{% for sprite in allSprites %}._{% if settings.trimSpriteNames %}{{sprite.trimmedName}}{% else %}{{sprite.fullName}}{% endif %} { {% if exporterProperties.sheetCssClass != "" %}.{{ exporterProperties.sheetCssClass }}; {% endif %}
	background-image-clip : {{ sprite.frameRect.y }} {{ sprite.frameRect.x }} {{ sprite.frameRect.height|add:sprite.frameRect.y }} {{ sprite.frameRect.width|add:sprite.frameRect.x }};
	{% if exporterProperties.sheetCssPosition %}left : {{ sprite.sourceRect.x }};
	top : {{ sprite.sourceRect.y }};
	{% endif %}width : {{ sprite.frameRect.width }};
	height : {{ sprite.frameRect.height }};
}

{% endfor %}